.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards-grid {
  display: grid;
  grid-gap: 10px;
}

.card {
  height: 200px;
  width: 200px;
  border-radius: 28px;
  transition: all 0.15s ease;
  opacity: 0.8;
}

@media (max-width: 640px) {
  .cards-grid {
    grid-gap: 7px;
  }
  .card {
    height: 160px;
    width: 160px;
  }
}


@media (max-width: 360px) {
  .cards-grid {
    grid-gap: 5px;
  }
  .card {
    height: 130px;
    width: 130px;
  }
}


.card-active {
  opacity: 1;
  box-shadow: 0 0 1em grey;
}

.one {
  background-color: #B4F4ED;
  grid-column: 1 ;
  grid-row: 1;
}

.two {
  background-color: #2E1735;
  grid-column: 2;
  grid-row: 1;
}

.three {
  background-color: #BD0053;
  grid-column: 1;
  grid-row: 2;
}

.four {
  background-color: #FDC273;
  grid-column: 2;
  grid-row: 2;
}
